* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Lato', sans-serif;
    font-family: 'Open Sans', sans-serif;
}

/* Header Section Start */

.header {
    background: rgba(229, 84, 115, 0.10);
}

.header-top {
    display: flex;
    width: 75%;
    margin: auto;
    justify-content: space-between;
}

.header-left {
    margin-top: 120px;
}

.header-text {
    font-size: 55px;
}

.header-discription {
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    width: 650px;
    margin: 30px 0px;
}

.btn {
    border-radius: 8px;
    background: #E55473;
    padding: 16px 24px;
    color: white;
    font-size: 20px;
    font-weight: 700;
    border: none;
}

.header-right {
    margin-top: 60px;
}

.header-pic {
    margin-bottom: -5px;
}

/* Heading End */

/* featured Section */

.featured-section {

    width: 75%;
    height: 100vh;
    margin: auto;

}

.featured-head {
    text-align: center;
    margin-top: 90px;
    margin-bottom: 24px;
}

.featured-discription {
    width: 500px;
    margin: auto;
    margin-bottom: 30px;
    text-align: center;
}

.first-img {
    width: 360px;
    height: 460px;
    background-color: rgba(167, 33, 98, 0.15);
    border-radius: 230px 230px 0px 0px;
    text-align: center;
}

.second-img {
    width: 360px;
    height: 460px;
    background-color: rgba(5, 151, 160, 0.15);
    border-radius: 230px 230px 0px 0px;
    text-align: center;
}

.third-img {
    width: 360px;
    height: 460px;
    background-color: rgba(71, 125, 17, 0.15);
    border-radius: 230px 230px 0px 0px;
    text-align: center;
}

.featured-img {
    display: flex;
    justify-content: space-between;
}

.first-image {
    padding-top: 100px;
    width: 260px;
}

.third-image {
    padding-top: 70px;
    width: 260px;
}

.midle-text {
    margin-top: 120px;
}

.first-text {
    margin-top: 20px;
}

/* featured Section end */

/* service section */
.service {
    width: 75%;
    background-color: rgba(39, 39, 39, 0.05);
    margin: auto;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    margin-bottom: 100px;
}

.delivery {
    text-align: center;
    padding-left: 120px;
}

.flower {
    text-align: center;
}

.support {
    text-align: center;
    padding-right: 120px;
}

/* service section end */

/* sale section */
.sale {
    background-color: rgba(229, 84, 115, 0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sale-left {
    text-align: center;
    padding: 30px;
}

.sale-right {
    padding: 70px;
}

.sale-btn {
    margin-top: 25px;
}

.sale-head {
    margin-bottom: 25px;
}

/* sale section end */

/* instragram section */
.instragram {
    text-align: center;
    margin: 130px 0px 0px 0px;
}

.insta-dis {
    padding: 30px;
    width: 600px;
    margin: auto;
}

.insta-pic {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

/* instragram section end */

/* deals section */
.deal-section {
    width: 75%;
    margin: auto;
    background-image: url(./asset/Rectangle\ 9.png);
    background-size: 100%;
    background-repeat: no-repeat;
}

.deals {
    text-align: center;
    margin-top: 100px;
    margin-bottom: 50px;
    padding: 100px 0px;
}

.deals-pra {
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    padding: 25px;
}

.deals-input {
    padding: 18px 30px;
    margin: 0px 30px 5px 0px;
    border-radius: 5px;
    border: 0px;
    width: 500px;
}

/* deals section complete */

/* footer section */
.footer-section {
    background-color: #111010;
    color: white;
    text-align: center;
    font-weight: bold;
    padding: 100px 0px 90px 0px;
}

.flower {
    color: #E55473;
}

.footer-pra {
    color: rgba(255, 255, 255, 0.90);
    font-size: 15px;
    font-weight: 400;
    line-height: 30px;
    width: 550px;
    margin: auto;
    padding: 30px 0px 30px 0px;
}

.copyright {
    font-size: 12px;
    color: rgba(255, 255, 255, 0.40);
    font-weight: 400;
}
                /* the end */